.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20vw;
  color: white;
  height: 30px;
  outline: none;
  background-color: #3c4040;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  text-align: start;
  font-size: 14px;
}
.search::placeholder {
  color: rgb(173, 171, 171);
  padding: 10px;
  font-size: 1em;
}
.search-icon {
  position: absolute;
}
form {
  display: flex;
}
#search-btn {
  background: none;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  width: 10px;
  right: 0;
  margin-top: 0;
}
