.music-list {
    width: 70%;
    height: 200px;
    display: flex;
    margin: 20px 15%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 35vh;
    overflow-x: auto;
    overflow-y: hidden;

  }
  .scroll-container {
    display: flex;
    width: 100%;
    padding: 0px 0px 20px 0px;
    height: 18vh;
    margin: 20px;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }
  .class {
    width: 100%;
    display: flex;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .class h1 {
    border-bottom: 3px solid transparent; 
  }
  
  .class h1:hover {
    border-bottom-color: white; 
    cursor: pointer;
  }
